
.pmwc-pagination {
  display: flex;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
	list-style: none;
	align-items: center;
}

.pmwc-pagination-item {
  box-sizing: border-box;
	font-weight: normal;
	font-style: normal;
	font-size: 0.75rem !important;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-moz-font-feature-settings: 'liga';
	-moz-osx-font-smoothing: grayscale;
  text-align: center;
  vertical-align: baseline;
  width: 2rem;
  border: 1px solid transparent;
  margin-right: 2px;
}

.pmwc-pagination-item--text {
  font-family: inherit !important;
}

.pmwc-pagination-item.mdc-icon-button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.pmwc-pagination-item--selected {
	/* background-color: rgba(0, 0, 0, 0.12); */
  color: var(--mdc-theme-on-standard, rgba(0, 0, 0, 0.87));
	background-color: var(--mdc-theme-bg-standard, rgba(224, 224, 224, 0.87));
}

.pmwc-pagination-item--selected.pmwc-pagination-item--primary {
  color: var(--mdc-theme-on-primary, #fff);
  background-color: var(--mdc-theme-primary, #6200ee)
}

.pmwc-pagination-item--selected.pmwc-pagination-item--secondary {
  color: var(--mdc-theme-on-secondary, #fff);
  background-color: var(--mdc-theme-secondary, #018786)
}

.pmwc-pagination-item.mdc-icon-button:active::before, .mdc-icon-button:focus::before, .mdc-icon-button:focus-within::before {
	opacity: 0 !important;
}

.pmwc-pagination-item.mdc-ripple-surface[data-mdc-ripple-is-unbounded].mdc-ripple-upgraded::before,
.pmwc-pagination-item.mdc-ripple-surface[data-mdc-ripple-is-unbounded].mdc-ripple-upgraded::after {
	/* left: calc(50% - 50% + 6px); */
}

.pmwc-pagination-item.mdc-icon-button.mdc-ripple-upgraded::before {
  /* margin-right: 1px; */
}

.pmwc-pagination-item,
.pmwc-pagination-item--size-xsmall,
.pmwc-pagination-item--size-small,
.pmwc-pagination-item--size-medium,
.pmwc-pagination-item--size-large,
.pmwc-pagination-item--size-xlarge {
  width: 2rem;
  /* height: 2rem; */
  padding: 0.5em;
}

.pmwc-pagination-item--disabled {
	color: var(--mdc-theme-text-disabled-on-light, rgba(0, 0, 0, 0.38));
}
