
/* mdc overwrite to use inherit color instead of secondary color for fade-in fade-out */
@-webkit-keyframes mdc-checkbox-fade-in-background-8A000000secondary00000000secondary {
  0% {
    border-color: rgba(0, 0, 0, 0.54);
    background-color: transparent;
  }
  50% {
    border-color: inherit;
    background-color: inherit;
  }
}

@keyframes mdc-checkbox-fade-in-background-8A000000secondary00000000secondary {
  0% {
    border-color: rgba(0, 0, 0, 0.54);
    background-color: transparent;
  }
  50% {
    border-color: inherit;
    background-color: inherit;
  }
}
@-webkit-keyframes mdc-checkbox-fade-out-background-8A000000secondary00000000secondary {
  0%, 80% {
    border-color: inherit;
    background-color: inherit;
  }
  100% {
    border-color: rgba(0, 0, 0, 0.54);
    background-color: transparent;
  }
}
@keyframes mdc-checkbox-fade-out-background-8A000000secondary00000000secondary {
  0%, 80% {
    border-color: inherit;
    background-color: inherit;
  }
  100% {
    border-color: rgba(0, 0, 0, 0.54);
    background-color: transparent;
  }
}

/* rmwc addon support for primary */
.mdc-checkbox.mdc-checkbox--primary .mdc-checkbox__native-control:checked ~ .mdc-checkbox__background::before,
.mdc-checkbox.mdc-checkbox--primary .mdc-checkbox__native-control:indeterminate ~ .mdc-checkbox__background::before,
.mdc-checkbox.mdc-checkbox--primary .mdc-checkbox__native-control[data-indeterminate=true] ~ .mdc-checkbox__background::before {
  background-color: var(--mdc-theme-primary, #6200ee);
}
.mdc-checkbox.mdc-checkbox--primary.mdc-checkbox--selected .mdc-checkbox__ripple::before,
.mdc-checkbox.mdc-checkbox--primary.mdc-checkbox--selected .mdc-checkbox__ripple::after {
  background-color: var(--mdc-theme-primary, #6200ee);
}
.mdc-checkbox.mdc-checkbox--primary.mdc-ripple-upgraded--background-focused.mdc-checkbox--selected .mdc-checkbox__ripple::before,
.mdc-checkbox.mdc-checkbox--primary.mdc-ripple-upgraded--background-focused.mdc-checkbox--selected .mdc-checkbox__ripple::after {
  background-color: var(--mdc-theme-primary, #6200ee);
}
.mdc-checkbox--primary .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mdc-checkbox--primary .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background,
.mdc-checkbox--primary .mdc-checkbox__native-control[data-indeterminate=true]:enabled ~ .mdc-checkbox__background {
  border-color: var(--mdc-theme-primary, #6200ee);
  background-color: var(--mdc-theme-primary, #6200ee);
}

/* pmwc addon support for standard */
.mdc-checkbox.mdc-checkbox--standard .mdc-checkbox__native-control:checked ~ .mdc-checkbox__background::before,
.mdc-checkbox.mdc-checkbox--standard .mdc-checkbox__native-control:indeterminate ~ .mdc-checkbox__background::before,
.mdc-checkbox.mdc-checkbox--standard .mdc-checkbox__native-control[data-indeterminate=true] ~ .mdc-checkbox__background::before {
  background-color: var(--mdc-theme-bg-standard, rgba(224, 224, 224, 0.87));
}
.mdc-checkbox.mdc-checkbox--standard.mdc-checkbox--selected .mdc-checkbox__ripple::before,
.mdc-checkbox.mdc-checkbox--standard.mdc-checkbox--selected .mdc-checkbox__ripple::after {
  background-color: var(--mdc-theme-standard-ripple, rgba(0, 0, 0, 0.87));
}
.mdc-checkbox.mdc-checkbox--standard.mdc-ripple-upgraded--background-focused.mdc-checkbox--selected .mdc-checkbox__ripple::before,
.mdc-checkbox.mdc-checkbox--standard.mdc-ripple-upgraded--background-focused.mdc-checkbox--selected .mdc-checkbox__ripple::after {
  background-color: var(--mdc-theme-standard-ripple, rgba(0, 0, 0, 0.87));
}
.mdc-checkbox--standard .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
.mdc-checkbox--standard .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background,
.mdc-checkbox--standard .mdc-checkbox__native-control[data-indeterminate=true]:enabled ~ .mdc-checkbox__background {
  border-color: var(--mdc-theme-bg-standard, rgba(224, 224, 224, 0.87));
  background-color: var(--mdc-theme-bg-standard, rgba(224, 224, 224, 0.87));
}
.mdc-checkbox--standard .mdc-checkbox__native-control:enabled ~ .mdc-checkbox__background .mdc-checkbox__checkmark {
  color: var(--mdc-theme-on-standard, rgba(0, 0, 0, 0.87));
}
.mdc-checkbox--standard .mdc-checkbox__native-control:enabled ~ .mdc-checkbox__background .mdc-checkbox__mixedmark {
  border-color: var(--mdc-theme-on-standard, rgba(0, 0, 0, 0.87));
}
