@keyframes pmwcToolTipIn {
  0% {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform-origin: 50% 50%;
    transform: scale(1, 1);
  }
}
@keyframes pmwcToolTipOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.pmwc-tooltip {
  position: absolute;
  z-index: 9999;
  display: block;
  visibility: visible;
  line-height: 1.5;
  font-size: 0.75rem;
  font-family: inherit;
  padding: 1px;
  opacity: 0.9;
}

.pmwc-tooltip-hidden {
  display: none;
}

.pmwc-tooltip.pmwc-tooltip-zoom-enter,
.pmwc-tooltip.pmwc-tooltip-zoom-leave {
  display: block;
}

.pmwc-tooltip-zoom-enter,
.pmwc-tooltip-zoom-appear {
  opacity: 0;
  animation-duration: 0.15s;
  animation-fill-mode: both;
  animation-play-state: paused;
}

.pmwc-tooltip-zoom-leave {
  animation-duration: 0.075s;
  animation-fill-mode: both;
  animation-play-state: paused;
}

.pmwc-tooltip-zoom-enter.pmwc-tooltip-zoom-enter-active,
.pmwc-tooltip-zoom-appear.pmwc-tooltip-zoom-appear-active {
  animation-name: pmwcToolTipIn;
  animation-play-state: running;
}

.pmwc-tooltip-zoom-leave.pmwc-tooltip-zoom-leave-active {
  animation-name: pmwcToolTipOut;
  animation-play-state: running;
}

.pmwc-tooltip-inner {
  display: flex;
  align-items: center;
  padding: 0.33rem 1rem;
  color: var(--mdc-theme-surface, white);
  text-align: left;
  text-decoration: none;
  background-color: var(--mdc-theme-on-surface, black);
  border-radius: 0.25rem;
  min-height: 2rem;
  box-sizing: border-box;
}

.pmwc-tooltip--show-arrow .pmwc-tooltip-arrow {
  display: block;
}

.pmwc-tooltip-arrow {
  display: none;
}

.pmwc-tooltip-arrow,
.pmwc-tooltip-arrow-inner {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.pmwc-tooltip-placement-top .pmwc-tooltip-arrow,
.pmwc-tooltip-placement-topLeft .pmwc-tooltip-arrow,
.pmwc-tooltip-placement-topRight .pmwc-tooltip-arrow {
  bottom: -5px;
  margin-left: -6px;
  border-width: 6px 6px 0;
  border-top-color: var(--mdc-theme-on-surface, black);
}

.pmwc-tooltip-placement-top .pmwc-tooltip-arrow-inner,
.pmwc-tooltip-placement-topLeft .pmwc-tooltip-arrow-inner,
.pmwc-tooltip-placement-topRight .pmwc-tooltip-arrow-inner {
  bottom: 1px;
  margin-left: -6px;
  border-width: 6px 6px 0;
  border-top-color: var(--mdc-theme-surface, white);
}

.pmwc-tooltip-placement-top .pmwc-tooltip-arrow {
  left: 50%;
}

.pmwc-tooltip-placement-topLeft .pmwc-tooltip-arrow {
  left: 15%;
}

.pmwc-tooltip-placement-topRight .pmwc-tooltip-arrow {
  right: 15%;
}

.pmwc-tooltip-placement-right .pmwc-tooltip-arrow,
.pmwc-tooltip-placement-rightTop .pmwc-tooltip-arrow,
.pmwc-tooltip-placement-rightBottom .pmwc-tooltip-arrow {
  left: -5px;
  margin-top: -6px;
  border-width: 6px 6px 6px 0;
  border-right-color: var(--mdc-theme-on-surface, black);
}

.pmwc-tooltip-placement-right .pmwc-tooltip-arrow-inner,
.pmwc-tooltip-placement-rightTop .pmwc-tooltip-arrow-inner,
.pmwc-tooltip-placement-rightBottom .pmwc-tooltip-arrow-inner {
  left: 1px;
  margin-top: -6px;
  border-width: 6px 6px 6px 0;
  border-right-color: var(--mdc-theme-surface, white);
}

.pmwc-tooltip-placement-right .pmwc-tooltip-arrow {
  top: 50%;
}

.pmwc-tooltip-placement-rightTop .pmwc-tooltip-arrow {
  top: 15%;
  margin-top: 0;
}

.pmwc-tooltip-placement-rightBottom .pmwc-tooltip-arrow {
  bottom: 15%;
}

.pmwc-tooltip-placement-left .pmwc-tooltip-arrow,
.pmwc-tooltip-placement-leftTop .pmwc-tooltip-arrow,
.pmwc-tooltip-placement-leftBottom .pmwc-tooltip-arrow {
  right: -5px;
  margin-top: -6px;
  border-width: 6px 0 6px 6px;
  border-left-color: var(--mdc-theme-on-surface, black);
}

.pmwc-tooltip-placement-left .pmwc-tooltip-arrow-inner,
.pmwc-tooltip-placement-leftTop .pmwc-tooltip-arrow-inner,
.pmwc-tooltip-placement-leftBottom .pmwc-tooltip-arrow-inner {
  right: 1px;
  margin-top: -6px;
  border-width: 6px 0 6px 6px;
  border-left-color: var(--mdc-theme-surface, white);
}

.pmwc-tooltip-placement-left .pmwc-tooltip-arrow {
  top: 50%;
}

.pmwc-tooltip-placement-leftTop .pmwc-tooltip-arrow {
  top: 15%;
  margin-top: 0;
}

.pmwc-tooltip-placement-leftBottom .pmwc-tooltip-arrow {
  bottom: 15%;
}

.pmwc-tooltip-placement-bottom .pmwc-tooltip-arrow,
.pmwc-tooltip-placement-bottomLeft .pmwc-tooltip-arrow,
.pmwc-tooltip-placement-bottomRight .pmwc-tooltip-arrow {
  top: -5px;
  margin-left: -6px;
  border-width: 0 6px 6px;
  border-bottom-color: var(--mdc-theme-on-surface, black);
}

.pmwc-tooltip-placement-bottom .pmwc-tooltip-arrow-inner,
.pmwc-tooltip-placement-bottomLeft .pmwc-tooltip-arrow-inner,
.pmwc-tooltip-placement-bottomRight .pmwc-tooltip-arrow-inner {
  top: 1px;
  margin-left: -6px;
  border-width: 0 6px 6px;
  border-bottom-color: var(--mdc-theme-surface, white);
}

.pmwc-tooltip-placement-bottom .pmwc-tooltip-arrow {
  left: 50%;
}

.pmwc-tooltip-placement-bottomLeft .pmwc-tooltip-arrow {
  left: 15%;
}

.pmwc-tooltip-placement-bottomRight .pmwc-tooltip-arrow {
  right: 15%;
}

@media (min-width: 768px) {
  .pmwc-tooltip-inner {
    padding: 0.33rem 0.5rem;
    min-height: 1.5rem;
  }
}
