.mdc-theme--neutral {
  color: inherit !important;
}
.mdc-theme--on-neutral {
  color: var(--mdc-theme-on-neutral, rgba(0, 0, 0, 0.87)) !important;
}
.mdc-theme--neutral-bg {
  background-color: var(--mdc-theme-bg-neutral, rgba(224, 224, 224, 0.87)) !important;
}
