.mdc-button.mdc-theme--secondary	{
  color: var(--mdc-theme-secondary);
}
.mdc-button.mdc-theme--secondary-bg,
.mdc-button.mdc-theme--on-secondary {
  background-color: var(--mdc-theme-secondary);
}
.mdc-button.mdc-theme--secondary .mdc-button__ripple::before,
.mdc-button.mdc-theme--secondary .mdc-button__ripple::after {
  background-color: var(--mdc-theme-secondary);
}
