.pmwc-collapsible-list {
  width: 100%;
}

.pmwc-collapsible-list__children {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s, opacity 0.3s;
  opacity: 0;
}

.pmwc-collapsible-list--open > .pmwc-collapsible-list__children {
  opacity: 1;
}

.pmwc-collapsible-list__handle .mdc-list-item__meta {
  transition: transform 0.3s;
  user-select: none;
}

.pmwc-collapsible-list--open
  > .pmwc-collapsible-list__handle
  .mdc-list-item__meta {
  transform: rotate(90deg);
}

.pmwc-collapsible-list__children .mdc-list-item {
  padding-left: 1.5rem;
}

/** No good way to do this dynamically, adding rules to support multiple depths */
/** 3 levels */
.pmwc-collapsible-list
  .pmwc-collapsible-list
  .pmwc-collapsible-list__children
  .mdc-list-item {
  padding-left: 2.5rem;
}

/** 4 levels */
.pmwc-collapsible-list
  .pmwc-collapsible-list
  .pmwc-collapsible-list
  .pmwc-collapsible-list__children
  .mdc-list-item {
  padding-left: 3.5rem;
}

/** 5 levels */
.pmwc-collapsible-list
  .pmwc-collapsible-list
  .pmwc-collapsible-list
  .pmwc-collapsible-list
  .pmwc-collapsible-list__children
  .mdc-list-item {
  padding-left: 4.5rem;
}

.pmwc-collapsible-list__children-inner {
  overflow: auto;
}
